<article class="story">
  <div class="story-container">
    <div class = "header">
      <a>{{ title }}</a>
      <a>{{ user.pen_name }}</a>
    </div>
    <div class="posts">
      {{#each posts}}
      <div class ="post-container">
        <div class ="header">
          {{user.pen_name}}
        </div>
        <div class ="post-content">
          {{ this.content }}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</article>