<article id ="single-story-block"class="story-block">
    <div class = "header">
      <h3 class="story-name">{{ title }}</h3>
      <h3 class="pen-name"> by: {{ user.pen_name }}</h3>
    </div>
    <div class="posts">
      {{#each posts}}
      <div class ="post-container">
        <div class ="header">
          <h3 class="pen-name">written by: {{ user.pen_name }}</h3>
        </div>
        <div class ="post-content">
          {{ this.content }}
        </div>
      </div>
      {{/each}}
    </div>
</article>