<article class="story">
  <div class="story-container">
    <div class = "header">
      <a>{{ title }}</a>
      <a>{{ user.pen_name }}</a>
    </div>
    <div class="first-post">
      <a>{{ user.pen_name }}</a>
      <a>{{ posts.0.content }}</a>
    </div>
  </div>
</article>