<div class="story-container">
  <div class = "header">
    <a href="/stories/{{id}}">{{ title }}</a href="">
    <h3 class="pen-name">{{ user.pen_name }}</h3>
  </div>
  <div class="first-post">
    <h4 class="post-content">{{ posts.0.content }}</h4>
  </div>
</div>