<div class = "header">
  <a class="story-name" href="/stories/{{id}}">{{ title }}</a href="">
  <h3 class="pen-name"> by: {{ user.pen_name }}</h3>
</div>
<div class="post-content">
  {{ posts.0.content }}
</div>