{{#if posts.length}}
<section>
  <h2>Your Activity</h2>
    {{#each posts}}
    <div class ="post-container">
        <div class ="header">
          <a href="/stories/{{id}}" target="_blank" class="story-title">{{ story.title }}</a>
        </div>
        <div class ="post-content">
          {{ this.content }}
        </div>
        {{!-- <button class="edit-post-btn">Edit Post</button>
        <button class="delete-post-btn">Delete Post</button> --}}
    </div>
    {{/each}}
</section>
{{/if}}

{{!insert delete and edit script}}