<section class="create-story">
    <h2>Create A New Story</h2>
    <form class="new-story">
      <label> Title</label>
      <div class="counter-box">
        <textarea class="new-title" maxlength="50"></textarea>
        <span class="count">50/50 characters</span>
      </div>
      <label> First Post</label>
      <div class="counter-box">
        <textarea class="new-post" maxlength="800"></textarea>
        <span class="count">800/800 characters</span>
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </form>
</section>

{{#if posts.length}}
<section class="users-posts">
  <h2>Your Activity</h2>
    {{#each posts}}
    <div class ="post-container">
        <div class ="header">
          <a href="/stories/{{story.id}}" target="_blank" class="story-title">{{ story.title }}</a>
        </div>
        <div class ="post-content">
          {{ this.content }}
        </div>
        {{!-- <button class="edit-post-btn">Edit Post</button>
        <button class="delete-post-btn">Delete Post</button> --}}
    </div>
    {{/each}}
</section>
{{/if}}

<script src="/javascript/add-story.js"></script>
<script src="/javascript/character-counter.js"></script>
{{!insert delete and edit script}}