{{> singlestory-info story }}

{{#if loggedIn}}
<form class="new-post-form">
    <div class="counter-box">
      <textarea class="post-content" id="post-content" maxlength="800" required></textarea>
      <span class="count">800/800 characters</span>
      <br>
      <button type="submit" class="create-btn">Create New Post</button>
    </div>
  </div>
</form>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/character-counter.js"></script>
{{/if}}

{{!-- {{#if loggedIn}}
  <div>
    <button type="button" class="like-btn">like</button>
  </div>
{{/if}} --}}

{{!-- {{#if loggedIn}}
<script src="/javascript/like.js"></script>
{{/if}} --}}