{{> stories-info story}}

{{#if loggedIn}}
  <div>
    <button type="button" class="like-btn">like</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/login.js"></script>
{{/if}}