{{> singlestory-info story }}

{{#if loggedIn}}
<form class="new-post-form">
    <button type="submit" class="create-btn">Create New Post</button>
    <textarea class="post-content" id="post-content" maxlength="800"></textarea>
  </div>
</form>

<script src="/javascript/add-post.js"></script>
{{/if}}

{{!-- {{#if loggedIn}}
  <div>
    <button type="button" class="like-btn">like</button>
  </div>
{{/if}} --}}

{{!-- {{#if loggedIn}}
<script src="/javascript/like.js"></script>
{{/if}} --}}