* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: gray;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: url('/images/mybook4.png');
    background-position: center;
    background-size: cover;
}

header {
    background-color: rgba(42, 201, 241, 0.925);
    display: flex;
    justify-content: space-between;
}

header h1 {
    padding: 10px;
}

header nav {
    padding: 10px;
}

main {
    width: 550px;
    height: 100%;
    margin: 10 auto;
    padding: 10px;
    flex: 1 100%;
    justify-content: center;
    background-color: rgb(201, 183, 159);
    color: rgb(41, 23, 23);
    display: inline-block;
    border-radius: 10px;
    box-shadow: 8px 5px 2px rgba(155, 185, 167, 0.879);
    
}


    

footer {
    background-color: black;
    color: lightgray;
}

a {
    text-decoration: none;
    color: #225ca3;
    font-weight: bold;
    transition: color .1s;
    font-size: larger;
}

a:hover {
    color: #3486eb;
}



.pen-name, .post-content {
    margin: 0;
}

.header {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.story-block {
    margin-bottom: 50px;
}