* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FAEBD7;
    --secondary-color: #225ca3;
    --tertiary-color: #3486eb;
    --text-dark: #000000;
    --text-light: #D3D3D3;
    --background-dark: #808080;
    --background-light: #D3D3D3;
}

html {
    background-color: var(--background-dark);
}

body, html {
    height: auto;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: url('/images/Wood_back.png');
    background-position: center;
    background-repeat: repeat-y;
}

main {
    width: 50%;
    height: auto;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 5px black;
}

.navbar {
    background: 
    linear-gradient(rgba(211, 211, 211, 0.85), rgba(211, 211, 211, 0.85)),
    url('/images/mybook4.png');
    padding: 10px;
    text-shadow: 2px 2px 3px black;
    border-bottom: 4px solid black;
}

header {
    background-color: var(--background-light);
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: auto 0;
    padding: 0px 10px 0px 10px;
}

header nav {
    margin: auto 0;
    padding: 0px 10px 0px 10px;
}


footer {
    background-color: black;
    color: var(--background-light);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color .1s;
    font-size: larger;
}

a:hover {
    color: var(--tertiary-color);
}

.pen-name, .post-content {
    margin: 0;
}

.post-content {
    width: 100%;
}

.pen-name {
    height: fit-content;
    font-size: medium;
    color: rgb(131, 94, 46);
    margin-bottom: 2.5px;
}

.header {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.story-name {
    font-size: x-large;
    color: var(--secondary-color);
    font-style: italic;
    margin-right: 10px;
}

.story-block {
    margin-bottom: 50px;
}

#logout-btn {
    background: none;
    border: none;
    font-size: larger;
    font-weight: bolder;
    color: var(--secondary-color);
    margin-left: 10px;
    text-shadow: 2px 2px 3px black;
}

#logout-btn:hover {
    background: none;
    border: none;
    font-size: larger;
    font-weight: bolder;
    color: var(--tertiary-color);
    text-shadow: 2px 2px 3px black;
    cursor: pointer;
}

.post-container {
    border: 2px solid var(--text-light);
    padding: 10px;
    margin-bottom: 20px;
}

.post-container h3 {
    border-bottom: 2px solid var(--text-light)
}

#single-story-block {
    margin-bottom: 0px;
}

.new-post-form {
    display: flex;
}

.create-btn {
    margin-right: 10px;
    color: var(--secondary-color);
    font-weight: bold;
}

.submit-btn {
    color: var(--secondary-color);
    font-weight: bold;
    height: 40px;
}

.new-post-content {
    width: 100%;
    background-color: rgba(204, 235, 255, 0.548);
}

textarea {
    height: 50px;
}

.new-title, .new-post {
    margin-bottom: 20px
}

label {
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
}

.create-story {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--background-light);
    border-radius: 3px;
}

.new-story {
    display: flex;
    flex-direction: column;
}